@import './../../node_modules/nb-base/src/scss/style.scss';

$OpenSansPath: "./../open-sans-fontface/fonts";
@import './open-sans/open-sans.scss';

:root {
	font-family: 'Open Sans';
}

@media screen and (max-width: 699.9px) {
	:root {
		font-size: 90%;
	};
}

.table-wrapper {
	overflow-x: auto;
}

table {
	border-collapse: collapse;

	td,
	th {
		border: 1px solid #aaa;
		text-align: left;
		padding: 0.5rem;
	}
}

q:before {
	content: "„";
}

q:after {
	content: "“";
}

dd {
	margin-bottom: 1em;
}
